<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ven blocks</title>
    <meta name="description" content="Category and bidder Blocks">
    <meta name="author" content="John Armstrong">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="venblocks.js"></script>
    <link rel="stylesheet" type="text/css" href="../ven.css" />
    </head>
<body ng-app="venblocks">
    <legend>publisher
        <input type="text" ng-model="publishername">
        </legend>
    <p>OR</p>
    <legend>bidder (id or name)
        <input type="text" ng-model="bidderNameOrId">
        </legend>
    <div class="button">
        Go
    </div>
    </body>
          
</html>